@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 45 66 9;
    --primary-foreground: 0 0 100;
    --secondary: 31 26 19;
    --secondary-foreground: 0 0 100;
    --accent: 36 17 6;
    --accent-foreground: 10 10 10;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}